/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bkg-text: #FF0070;
  --color-title: #DB00FF;
  --main-text-color: #F1B2CE;
  --main-bg-color: #000028;
  --nav-color: #ff0070;

  --hover-button: rgba(255, 0, 112, 0.4);

  --back-img: url(../images/cover-image-dark.png);
}

.theme-dark .header__rec {
  display: block;
}
.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

