/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bkg-text: #ff8dcb;
  --main-bg-color: #353430;
  --color-title: #ffc2e6;
  --main-text-color: #353430;
  --nav-color: #353430;
  --hover-button: rgba(50, 49, 45, 0.4);
  --back-img: url(../images/cover-image-light.png);
  --backrg: #fff1f7;
}

.theme-light .header__rec {
  display: none;
}
.header__theme-menu-button {
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bkg-text: #ff8dcb;
    --main-bg-color: #353430;
    --color-title: #ffc2e6;
    --main-text-color: #353430;
    --back-img: url(../images/cover-image-light.png);
  }

  .theme-light .header__rec {
    display: none;
  }
}
